@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

body{
  padding: 0px;
  margin: 0px;
}

.amplify-collection{
  width: 100%!important;
}

.blog-card:hover{
  border: 1px solid #9a9a9a!important;
  cursor: pointer;
}