@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

body{
  padding: 0px;
  margin: 0px;
}

.amplify-collection{
  width: 100%!important;
}

.blog-card:hover{
  transform: scale(1.005);
  transition: 0.1s;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2)!important;
}